@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700&family=Mulish:wght@400;800&family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0px;
  font-family: "Mulish", sans-serif;
}

/* commom style */

.font-size-40 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
p,
#populer-tour > .content > ul li {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.btn-common {
  border-radius: 8px;
  background: #ff5400;
  padding: 12px 20px;
  color: #fff;
  border: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #fff;
}

/* header style */

header {
  padding: 10px 80px;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  position: relative;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-brand-name {
  display: inline-block;
  color: #424247;
  padding: 10px;
}
.nav > .nav-header > .nav-brand-name > .paradise {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 10px;
  position: relative;
  bottom: 13px;
}
.nav > .nav-header > .nav-brand-name > .road {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
  position: relative;
  bottom: 13px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #424247;
}
.nav > .nav-links > a:hover {
  color: #ff5400;
}
.nav > #nav-check {
  display: none;
}

header > .banner {
  background-image: url(Images/Group\ 13.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 30px 0;
  border-radius: 16px;
}
header > .banner .linear-gradient {
  background: linear-gradient(180deg, #070211 -70%, rgba(7, 2, 17, 0) 100%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 50px 20px 120px;
}
header > .banner > .linear-gradient > p {
  color: #fff;
}
header > .banner > .linear-gradient > h2 {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: -10px;
}
header > .banner .banner-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  border-radius: 8px;
  width: 60%;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 220px;
  padding: 0 15px;
}
header > .banner .banner-container > input,
.select-box {
  border: none;
  padding: 12px 10px;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  margin: 10px 0;
}
header > .banner .banner-container > .btn-common {
  margin: 10px 0 10px 10px;
}

/* main style start */

/* populer-tour section */

#populer-tour {
  display: flex;
  padding: 10px 80px;
}
#populer-tour > .content {
  padding-right: 30px;
}

/* destination section */

#destination,
#why-choose-us,
#cliant-review {
  padding: 10px 80px;
  text-align: center;
}
#destination > P {
  padding: 0px 200px;
}
#destination > .content > .content-1 {
  grid-area: content-1;
  background-image: url(Images/Rectangle\ 5.png);
}
#destination > .content > .content-2 {
  grid-area: content-2;
  background-image: url(Images/Rectangle\ 8.png);
}
#destination > .content > .content-3 {
  grid-area: content-3;
  background-image: url(Images/Rectangle\ 6.png);
}
#destination > .content > .content-4 {
  grid-area: content-4;
  background-image: url(Images/Rectangle\ 7.png);
}
#destination > .content > .content-5 {
  grid-area: content-5;
  background-image: url(Images/Rectangle\ 9.png);
}
#destination > .content > .content-6 {
  grid-area: content-6;
  background-image: url(Images/Rectangle\ 11.png);
}
#destination > .content > .content-7 {
  grid-area: content-7;
  background-image: url(Images/Rectangle\ 10.png);
}
#destination > .content > .content-1,
.content-2,
.content-3,
.content-4,
.content-5,
.content-6,
.content-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  border-radius: 16px;
}
#destination > .content {
  display: grid;
  gap: 15px;
  align-items: center;
  grid-template-areas:
    "content-1 content-1 content-1 content-1 content-1 content-2 content-2 content-2 content-2 content-2"
    "content-3 content-3 content-3 content-4 content-4 content-4 content-4 content-4 content-5 content-5"
    "content-6 content-6 content-6 content-6 content-7 content-7 content-7 content-7 content-7 content-7";
}

/* why-choose-us section  */

#why-choose-us {
  justify-content: center;
}
#why-choose-us > .content {
  display: flex;
  gap: 20px;
  justify-content: center;
}
#why-choose-us .card {
  border-radius: 16px;
  width: 100%;
  padding: 10px;
  text-align: start;
}
#why-choose-us > .content > .card-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#why-choose-us > .content > .card-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#why-choose-us > .content > .card-3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* cliant-review section  */

#cliant-review > .title {
  padding: 20px 0;
  margin: 20px 0;
}
#cliant-review > p {
  padding: 0 220px;
}
#cliant-review > .cliant-review-content {
  text-align: end;
}
#cliant-review > .cliant-review-content > button {
  background-color: #fff;
  border: 1px solid #ff5400;
  padding: 10px 15px;
  margin: 20px 0;
}
#cliant-review > .cliant-review-content > button > a {
  color: #ff5400;
}

#cliant-review .card > h3 > span > img {
  width: 20px;
  margin: 0;
  padding: 0;
}
#cliant-review > .cliant-review-content > .card-container {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 0 10px;
}
#cliant-review > .cliant-review-content > .card-container > .card {
  text-align: start;
  background: rgba(19, 19, 24, 0.05);
  width: 100%;
  padding: 10px;
  border-radius: 16px;
}
#cliant-review > .cliant-review-content > .card-container > .card > img {
  width: 100%;
  margin: 0;
  padding: 0;
}
#cliant-review > .cliant-review-content > .card-container > .card i {
  color: #ff5400;
}

/* news-letter section  */

#news-letter {
  padding: 50px 80px;
  display: flex;
  gap: 20px;
}
#news-letter > .form {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 20px;
  margin-bottom: 80px;
  align-items: center;
}
#news-letter > .form > input {
  width: 90%;
  padding: 10px 15px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-bottom: 20px;
  border: none;
}
#news-letter > .form > button {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #ff5400;
}
#news-letter .img-container > .travel-token {
  background-color: #ff5400;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  width: 40%;
  padding: 10px;
  transform: rotate(-32deg);
  position: relative;
  top: -150px;
  left: 390px;
}
#news-letter .img-container > .travel-token > h5 {
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
#news-letter .img-container > .travel-token > h2 {
  font-size: 30px;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

/* footer style */

footer {
  padding: 60px 300px;
  text-align: center;
  background: rgba(19, 19, 24, 0.1);
}
footer > .footer-brand-name > .paradise {
  color: #131318;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
  position: relative;
  bottom: 13px;
}
footer > .footer-brand-name > .road {
  color: #ff5400;
  font-size: 28px;
  font-weight: 800;
  position: relative;
  bottom: 13px;
}
footer > .social-link {
  display: flex;
  gap: 20px;
  justify-content: center;
}
footer > .social-link i {
  color: #131318;
}
footer > .copyright-text {
  border-top: 1px solid #6a6666;
  margin: 30px 0;
  padding: 30px 0;
}

/* responsive style for mobile */

@media (max-width: 600px) {
  header {
    padding: 30px 20px;
  }
  .nav > .nav-header > .nav-brand-name > .paradise,
  .nav > .nav-header > .nav-brand-name > .road {
    font-size: 29px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50%;
    height: 50%;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #1a1919;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #6a6666;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 50%;
    color: #fff;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 400px);
    overflow-y: auto;
  }
  header > .banner > .linear-gradient > h2 {
    font-size: 30px;
  }
  header > .banner .banner-container > input {
    width: 150px;
  }
  header > .banner .banner-container > .select-box,
  button {
    width: 170px;
  }
  header > .banner .banner-container {
    display: inline;
    margin: 0;
    padding: 10px;
    align-items: center;
    position: relative;
    left: 55px;
    top: 50px;
  }
  #populer-tour,
  #news-letter {
    flex-direction: column;
    padding: 20px;
  }
  #populer-tour > .content > .title {
    font-size: 20px;
  }
  #populer-tour > .img-holder > img {
    width: 100%;
    margin-top: 30px;
  }
  #destination,
  #why-choose-us {
    padding: 10px 20px;
  }
  #destination > P {
    padding: 0px 30px;
  }
  #destination > .content {
    grid-area: none;
    grid-template-areas:
      "content-1"
      "content-2"
      "content-3"
      "content-4"
      "content-5"
      "content-6"
      "content-7";
  }
  #destination > .content > .content-1,
  .content-2,
  .content-3,
  .content-4,
  .content-5,
  .content-6,
  .content-7 {
    width: 100%;
    height: 200px;
    background-size: cover;
  }
  #why-choose-us > .content {
    flex-direction: column;
  }
  #cliant-review {
    padding: 20px 5px;
  }
  #cliant-review > p {
    padding: 0 12px;
  }
  #cliant-review .cliant-review-content > .card-container {
    flex-direction: column;
  }
  #news-letter .img-container > img {
    width: 100%;
  }
  #news-letter .img-container > .travel-token > h5 {
    font-size: 14px;
  }
  #news-letter .img-container > .travel-token > h2 {
    font-size: 18px;
  }
  #news-letter .img-container > .travel-token {
    top: -100px;
    left: 200px;
  }
  footer {
    padding: 10px 60px;
  }
}
